p,
h1,
li {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1;
}

h1::after {
  content: "";
  display: block;
  width: 60px;
  height: 4px;
  background: #caf;
  margin-right: 10px;
}

ul {
  list-style: none;
}

li {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

li::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background: linear-gradient(#caf, #fff);
  border: 2px solid #caf;
  margin-right: 10px;
  border-radius: 50%;
}

p::first-letter {
  font-size: 3rem;
  float: left;
  margin-right: 0.2rem;
  background: #ff0;
  padding: 0.2rem;
  border: 4px solid;
}

p::first-line {
  font-weight: bold;
  text-transform: uppercase;
}
