body {
  color: #b2b2b2;
  font-family: Arial;
  margin: 0;
  padding: 10px;
}

h1 {
  color: #111;
  text-align: center;
}

.item {
  border-radius: 4px;
  background-color: #111;
  padding: 20px;
  margin: 20px;
}

h2 {
  color: #fff;
  margin: 0;
}

p {
  color: #b2b2b2;
}

span {
  color: #febe01;
}

a {
  display: inline-block;
  background-color: #febe01;
  color: #320;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
}
